.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    margin-bottom: 10px;
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #388ae2;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}


.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

/* .todos__single--text */

.todos__single {
    display: flex;
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: yellow;
}

.todos__single:hover {
    box-shadow: 0 0 3px black;
    transform: scale(1.002)
}

.todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.active {
    display: flex;
    width: 45%;
    border-radius: 2px;
    padding: 20px;
    margin-top: 40px;
    /* margin: auto;  */
    background-color: #68f0ee;
    margin: 0 auto;
    display: block;
    transition: 0.2s;
}

.completed {
    display: flex;
    width: 45%;
    border-radius: 2px;
    padding: 20px;
    margin-top: 10px;
    background-color: #e8a3f7;
    margin: 0 auto;
    display: block;
    transition: 0.2s;
}

.group--heading {
    display: flex;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-top: 20px; 
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .todos {
        width: 95%;
    }
    .todos__single{
        width: 90%;
    }

    .active {
        width: 98%;
        margin-top: 10px;
    }

    .completed {
        width: 98%;
        margin-top: 10px;
        flex-direction: column;
    }
}

